<div class="container">

    <button mat-raised-button color='primary' (click)="dateService.setEDT('week')">Next Week Button</button>
    <button mat-raised-button color='accent' (click)="dateService.setEDT('month')">Next Month Button</button>
    <button mat-raised-button (click)="dateService.setEDT('quarter')">Next Quarter Button</button>
    
    <p>{{dateService.endType}} sDT {{dateService.sDT}}</p>
    <p>{{dateService.endType}} eDT {{dateService.eDT}}</p>
    
    <p>{{dateService.diff}}</p>
    
    <button mat-raised-button>Click me!</button>
</div>

