<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
      </a>
      <a mat-list-item routerLink="/calendar">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Calendar</span>
      </a>
      <a mat-list-item routerLink="/report">
        <mat-icon class="icon">view_list</mat-icon>
        <span class="label">Report</span>
      </a>
      <a mat-list-item routerLink="/admin">
        <mat-icon class="icon">build</mat-icon>
        <span class="label">Admin</span>
      </a>
      <a mat-list-item *ngIf="!authService.authenticated" (click)="signIn()">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Sign In</span>
      </a>
      <a mat-list-item *ngIf="authService.authenticated" (click)="signOut()" type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Sign Out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          <span class="label label-title">PS Forecasting</span>
        </a>
      </div>
      <div fxFlex fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a routerLink="/calendar">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Calendar</span>
            </a>
          </li>
          <li>
            <a routerLink="/report">
              <mat-icon class="icon">view_list</mat-icon>
              <span class="label">Report</span>
            </a>
          </li>
          <li>
            <a routerLink="/admin">
              <mat-icon class="icon">build</mat-icon>
              <span class="label">Admin</span>
            </a>
          </li>
          <li>
            <a *ngIf="!authService.authenticated" (click)="signIn()">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">Sign In</span>
            </a>
          </li>
          <li>
            <a *ngIf="authService.authenticated" (click)="signOut()" type="button">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>