/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
} 

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 25px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
  font-size: 18px;
}

.label-title {
  font-weight: bold;
  font-size: 22px;
}

body {
  margin: 0;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.card {
  width: 90%;
  margin: auto;
  border: 1px solid rgba (0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  width: 90%;
}
.example-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

a {
  cursor: pointer;
}

.btn-cust-1 {
  margin: 10px;
}

.btn-cust-cont {
  text-align: center;
}

.calendar-title-spacer {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2px 20px;
}

.calendar-title {
  display: flex;
  flex: 1 1 auto;
  color: rgba(0,0,0,.54);
  font-size: 20px;
  font-weight: bold;
}

table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  padding-top: 0px;
}

.mat-header-cell {
  font-size: 18px;
  font-weight: bold;
}

.mat-footer-cell {
  font-weight: bold;
  background: #3f51b5;
  color: white;
  font-size: 16px;
}


td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  text-align: center;
}

.progbar-cont {
  min-height: 10px;
}

.view-box {
  max-width: 130px;
  display: inline;
  background: #edf0ff;
}

.right-align {
  text-align: right;
  font-weight: bold;
  color: rgba(0,0,0,.54);
  display: inline;
}
